/* 모든 요소에 스타일 적용 */
* {
    color: aliceblue;
}

body {
    background-color: #000;
    margin-top: 150px;
}

/*게임타이틀 숨기기*/
.text-items {
    visibility: hidden;
    font-size: 10px;
}

/*메인*/
.Byera {
    display: flex;
    flex-direction: column;
}

/*게임 도트 선*/
.game-container {
    border-top: 1px solid #ffffff;
    margin-right: 10px;
}

.photo-container,
.dotbox,
.yearbox,
.guide-container,
.photo-items{
    display: flex;
    flex-direction: row;
}

/*게임 이미지 2개 묶음*/
.photo-items {
    margin-left: 185px;
}

.photo-items:nth-child(n+2) {
    margin-left: 85px;
}

.photo-items img {
    margin-right: 5px;
    border: 2px solid #ffffff5e;
}

.dot {
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    width: 13px;
    height: 13px;
    margin-left: 280px;
    margin-top: -7px;
}

/*도트 밑 연도*/
.year {
    margin-left: 270px;
    margin-top: 10px;
}

.year:nth-child(n+2) {
    margin-left: 260px;
}

/*모든 이미지*/
.photo img,
.game-image{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 3px;
}

.game-image{
    width: 120px;
    height: 120px;
}

.game-image {
    margin-right: 15px;
}

/*연도별 버튼*/
.button-itmes {
    width: 90%;
    display: flex;
    margin-left: 70px;
    justify-content: center;
    gap: 150px;
    padding: 25px;
}

.button-itmes:first-child {
    border-top: 1px solid #ffffff;
}

.button-itmes:last-child {
    border-bottom: 1px solid #ffffff;
}

.btn-era {
    display: block;
    width: 130px;
    height: 50px;
    background-color: #3498db;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

.btn-era:hover {
    background-color: #2980b9;
}

/*버튼 클릭시 css */
.button-container button.active {
    background-color: pink;
}

/*아래쪽 전체 게임들*/
.game-item {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

/*게임 설명글*/
.game-details {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.selectedItembyera {
    margin-top: 30px;
}
/* Style for title and release year */
.title {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 5px;
}

.release-year {
    font-size: 14px;
    color: #666;
    margin-bottom: 5px;
}

/* Style for summary */
.game-summary {
    font-size: 14px;
    line-height: 1.4;
}

@media screen and (max-width: 1300px) {
    .photo-items {
        margin-left: 148px;
    }
    
    .photo-items:nth-child(n+2) {
        margin-left: 68px;
    }
    
    .dot {
        margin-left: 225px;
    }
    
    .year {
        margin-left: 213px;
    }
    
    .year:nth-child(n+2) {
        margin-left: 203px;
    }
    
    .photo img {
        width: 80px;
        height: 80px;
    }

}

@media screen and (max-width: 1060px) {
    .photo-items {
        margin-left: 122px;
    }
    
    .photo-items:nth-child(n+2) {
        margin-left: 48px;
    }
    
    .dot {
        margin-left: 187px;
        width: 11px;
        height: 11px;
    }
    
    .year {
        margin-left: 178px;
        font-size: 14px;
    }
    
    .year:nth-child(n+2) {
        margin-left: 167px;
    }
    
    .photo img{
        width: 70px;
        height: 70px;
    }

    .game-image{
        width: 100px;
        height: 100px;
    }

    .button-itmes {
        gap: 90px;
        margin-left: 40px;
    }

    .btn-era {
        width: 120px;
        height: 40px;
        font-size: 15px;
    }    

}

@media screen and (max-width: 900px) {
    .photo-items {
        margin-left: 92px;
    }
    
    .photo-items:nth-child(n+2) {
        margin-left: 26px;
    }
    
    .dot {
        margin-left: 155px;
    }
    
    .year {
        margin-left: 145px;
    }
    
    .year:nth-child(n+2) {
        margin-left: 135px;
    }

    .photo img{
        width: 65px;
        height: 65px;
    }

    .button-itmes {
        gap: 60px;
    }

    .btn-era {
        width: 100px;
        height: 35px;
        font-size: 14px;
    } 
}

@media screen and (max-width: 750px) {
    .photo-items {
        margin-left: 82px;
    }
    
    .photo-items:nth-child(n+2) {
        margin-left: 24px;
    }

    .dot {
        margin-left: 135px;
        width: 9px;
        height: 9px;
        margin-top: -5px;
    }
    
    .year {
        margin-left: 126px;
        font-size: 12px;
    }
    
    .year:nth-child(n+2) {
        margin-left: 118px;
    }
    
    .photo img{
        width: 55px;
        height: 55px;
    }
    .button-items {
        margin-top: 30px;
    }

    .button-items:last-child {
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 660px) {
    .photo-items {
        margin-left: 60px;
    }
    
    .photo-items:nth-child(n+2) {
        margin-left: 7px;
    }

    .dot {
        margin-left: 108px;
    }
    
    .year {
        margin-left: 99px;
    }
    
    .year:nth-child(n+2) {
        margin-left: 91px;
    }

    .photo img{
        width: 50px;
        height: 50px;
    }

    .button-itmes {
        gap: 40px;
    }
}


@media screen and (max-width: 540px) {

    .photo-container,
    .button-container,
    .dotbox,
    .yearbox{
        display: flex;
        flex-direction: column;
    }

    .button-itmes {
        display: flex;
        flex-direction: row;
        margin-left: 25px;
    }

    .button-itmes:first-child {
        margin-top: 50px;
    }
 
    /*점 밑에 있는 왼쪽 선*/
    .game-container {
        display: flex;
        flex-direction: row;
        border-left: 1px solid #ffffff;
        border-top: 1px solid #000000;
        margin-left: 25px;
        margin-bottom: 0px;
        margin-top: 50px;
    }

    /*옆 선 가운데 뚫림 해결*/
    .dotbox:first-child {
        margin-bottom: 160px;
    }

    .game-container:nth-child(n+2) {
        margin-top: 0px;
    }

    /*게임 타이틀*/
    .text-items {
        visibility: visible;
        margin-top: 147px;
        margin-left: 50px;
    }
    
    .dot {
        border-radius: 50%;
        background-color: rgb(255, 255, 255);
        width: 13px;
        height: 13px;
        margin-left: -6px;
        margin-top: 170px;
    }

    .dot:first-child,
    .year:first-child {
        margin-top: 0px;
    }

    .year {
        margin-left: 5px;
        margin-top: 164px;
    }

    .year:nth-child(n+2) {
        margin-left: 5px;
    }
 
    /*연도별 게임 사진 여백, 게임 타이틀*/
    .text-items:first-child {
        margin-top: -15px;
    }

    .photo-items:first-child{
        margin-top: -33px;
    }

    .photo-items {
        margin-left: 15px;
        width: 120px;
    }

    .photo-items:nth-child(n+2) {
        margin-left: 10px;
        margin-top: 102px;
    }
    
    .text {
        width: 150px;
        font-size: 14px;
    }

    .text:nth-child(n+2) {
        margin-top: -5px;
    }
    
    .photo img {
        width: 80px;
        height: 80px;
        margin-right: 80px;
    }

    .game-image{
        width: 95px;
        height: 95px;
        margin-bottom: 40px;
    }

    .guide-container {
        display: flex;
        flex-direction: row;
        margin-top: 30px;
    }
    
    .items-container {
        margin-left: 20px;
    }

    .game-details {
        margin-top: -25px;
    }

}