body{
  background-color: #000000;
  color: #ffffff;
}

main{
    margin: 0 auto;
    margin-top: calc(44px + 100px);
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 25px;
}

/*게임 title, img*/
.image-info-groups {
  width: 900px;
  height: 600px;
  padding-bottom: 70px;
  border-bottom: 1px solid #ffffff;
}
  
.book-image,
.book-image img{
  width: 100%;
  height: 100%;
}

.book-image img {
  object-fit:fill;
}

.titles{
  width: 900px;
  display: flex;
  text-align: left;
}
  
.write {
  display: flex;
  text-align: left;
  width: 900px;
  padding-top: 30px;
  margin-bottom: 5px;
} 

/*댓글입력 받는 부분*/
.comment-reg {
  width: 900px;
  margin-bottom: 70px;
  border: solid 2px rgb(255, 255, 255);
}

textarea {
  width: 100%;
  height: 6.25em;
  border: none;
  resize: none;
  background-color: #000000;
  color: #ffffff;
}

textarea:focus { 
  outline:none;
}
 
.row{
  display: flex;
  margin-left: 0px;
  /* border-top: solid #ffffff 3px ; */
  width: 100%;
  justify-content: right;
  border: solid 2px rgb(255, 255, 255);
}

.comment1-box {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  border-radius: 55px; /* 둥근 사각형으로 설정 */
  background-color: #a3a3a3;
  padding-right: 30px;
  width: fit-content; /*자기 크기만큼 설정 ⭐⭐⭐*/
  
}

.comment-button {
  width: 20%;
  background-color: #ffffff;
  border: none; /* 테두리 제거 */
  outline: none; /* 포커스 시 테두리 제거 */
  font-weight: bold;
}

.profile-image {
  width: 58px;
  height: 58px;
  border-radius: 50%;
  margin: 5px 5px;
}

textarea,
.comment-content,
.comment-button,
.write {
  font-size: 17px;
}

/* 태블릿 사이즈에 대한 스타일 변경 */
@media (max-width: 950px) {
  .image-info-groups {
    width: 700px;
    height: 400px;
  }

  .write,
  .comment-reg,
  .titles {
    width: 700px;
  } 

}

/* 태블릿 사이즈에 대한 스타일 변경 */
@media (max-width: 720px) {

  main {
    font-size: 20px;
  }

  .image-info-groups {
    width: 480px;
    height: 350px;
  }

  .write,
  .comment-reg,
  .titles {
    width: 480px;
  } 

  textarea,
  .comment-content,
  .comment-button,
  .write {
    font-size: 14px;
  }

  .profile-image {
    width: 50px;
    height: 50px;
  }

}

/* 핸드폰 사이즈에 대한 스타일 변경 */
@media (max-width: 549px) {
    main{
        margin-top: calc(44px + 120px);
        font-size: 16px;
    }

    textarea,
    .comment-content,
    .comment-button,
    .write {
      font-size: 12px;
    }
  

    .profile-image {
      width: 40px;
      height: 40px;
    }

}
