/* 모든 요소에 스타일 적용 */
* {
    background-color: #000;
    color: aliceblue;
}

header {
    margin-top: 50px;
    color: aliceblue;
}

/* 장르 메뉴를 클릭할 때 토글되는 부분 */
/* 사진과 버튼 컨테이너 스타일 */
.photos-container,
.button-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* 사진 컨테이너 스타일 */
.photo-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* 사진 아이템 및 텍스트 스타일 */
.photo-items,
.textdox {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-left: 25px;
}

/* 텍스트 컨테이너 스타일 */
.textdox {
    justify-content: space-around;
}

/* 사진 스타일 */
.photo {
    border: 1px solid #000;
    margin-top: 20px;
}

/* 사진 컨테이너 내부 이미지 스타일 */
.photo img {
    max-width: 100px;
    max-height: 100px;
    width: auto;
    height: auto;
}

/* 테두리 스타일 */
.border {
    width: 100%;
    margin-bottom: 30px;
    margin-top: 30px;
    border: 3px solid rgb(255, 255, 255);
}

/* 선 스타일 */
.line {
    display: flex;
    justify-content: space-around;
    width: 100%;
    border-top: 5px solid rgb(255, 255, 255);
    position: relative;
    height: 20px;
    margin-top: 100px;
}

/* 점 스타일 */
.dot {
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    width: 13px;
    height: 13px;
    margin-top: -8px;
    margin-left: 15px;
}

/* 버튼 아이템 컨테이너 스타일 */
.button-items {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/* 안내 컨테이너 스타일 */
.guide-container {
    display: flex;
    flex-direction: row;
    border: 2px solid red;
    margin-bottom: 30px;
}

/* 게임 사진 스타일 */
.gamePhoto img {
    max-width: 200px;
    max-height: 200px;
    width: auto;
    height: auto;
}

/* 아이템 컨테이너 스타일 */
.items-container {
    border: 2px solid red;
    text-align: left;
    justify-content: left;
    margin: auto 0px;
}

